.home {
  padding-inline: 40px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home__logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-align: center;
}
.home__title {
  font-size: var(--size-xxl);
}
.home__subtitle {
  font-size: var(--size-m);
}
.home__content i {
  color: var(--primary-color);
}
.homeSection__para {
  font-size: var(--size-m);
}
.home__btnsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 576px) {
  .home {
    padding-inline: 10px;
    gap: 20px;
    padding-bottom: 10px;
  }
  .home__title {
    font-size: var(--size-l);
  }
  .home__subtitle {
    font-size: var(--size-s);
  }
  .home__para {
    font-size: var(--size-s);
  }
  .home__btnsContainer {
    flex-direction: column;
  }
}
