.button {
  margin-top: var(--space-min);
  padding: 8px 16px;
  width: fit-content;

  display: flex;
  align-items: center;
  gap: var(--space-min);

  border-radius: 2px;
  border: none;
  background-color: var(--black-op);
  color: var(--white);

  cursor: pointer;
  transition: ease 0.3s;
}
.button:hover {
  color: var(--white);
  background-color: var(--black);
}
