.button {
  margin-top: var(--space-min);
  padding: 4px 8px;
  width: fit-content;

  display: flex;
  align-items: center;
  gap: var(--space-min);

  border-radius: 2px;
  border: none;
  background-color: var(--black-op-line);
  color: var(--white);
  font-size: var(--size-xmin);

  cursor: pointer;
}
