.loader {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: opacity 1s ease;
}
.loader__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  text-align: center;
}
.loader__name {
  opacity: 0;
  animation: fadeInOpacity 1s forwards;
  font-size: 3rem;
  font-weight: 700;
}

.loader__subtitle {
  opacity: 0;
  transform: translatey(50px);
  animation: fadeInRight 1s forwards;

  font-weight: 100;
  font-size: 1.5rem;
}
@keyframes fadeInOpacity {
  to {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 576px) {
  .loader__name {
    font-size: 2rem;
  }
  .loader__logo {
    width: 50px;
  }
}
