.card {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: var(--space-mid);
}
.card__video_container {
  position: relative; /* Necesario para next/image con fill */
  width: 100%;
  aspect-ratio: 2 / 1; /* Fuerza la proporción 2:1 */
  max-height: 200px;
  border: 0.5px solid var(--black-op-line);
  border-radius: 8px;
  overflow: hidden;
}
.card__video_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__body_title {
  color: var(--black);
  font-size: var(--size-mid);
  cursor: pointer;

  transition: transform 0.2s ease, text-shadow 0.3s ease;
}
.card__body_title:hover {
  transform: translateY(-2px);
  font-weight: var(--weight-bold);
}
.card__body_container {
  display: flex;
  flex-direction: column;
  gap: var(--space-min);
}
.card__body_description {
  padding-block: var(--space-min);

  display: flex;

  font-size: var(--size-min);
  border-bottom: 0.5px solid var(--black-op-line);
}
.card__tech_contaienr {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-mid);
}
.card__techo_item {
  font-size: var(--size-xmin);
}
/* media queris */
@media (max-width: 640px) {
  .card {
    width: 100%;
  }
  .contact__btns_container {
    gap: var(--space-min);
  }
}
