:root {
  /* colors */
  --white: #ffffff;
  --black: #000000;
  --black-op-text: rgba(0, 0, 0, 0.4);
  --black-op-line: rgba(0, 0, 0, 0.2);

  /* spaces */
  --space-max: 48px;
  --space-mid: 24px;
  --space-min: 8px;
  /* font */
  --size-max: 24px;
  --size-mid: 20px;
  --size-min: 16px;
  --size-xmin: 12px;
  /* font-weight: */
  --weight-normal: 300;
  --weight-bold: 500;
}
body {
  color: var(--black-op-text);
  background: var(--white);
  font-size: var(--size-mid);
  letter-spacing: -1px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
