.page {
  display: flex;
  justify-content: center;
}
.main {
  max-width: 800px;
  display: flex;
  gap: var(--space-max);
}
.hero {
  width: 100%;
  margin-inline: var(--space-max);
  margin-block: var(--space-max);
  margin-top: 96px; /*tamaño unico*/
  display: flex;
  flex-direction: column;
}
.hero__name {
  color: var(--black);
  font-weight: var(--weight-bold);
  margin-bottom: var(--space-min);
}
.hero__rol {
  font-size: var(--size-max);
}
.hero__description {
  margin-top: var(--space-max);
}
/* .main {
}
.footer {
} */
/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
}
@media (max-width: 600px) {
} */
