.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px; /*tamaño unico*/
}
.main {
  margin-inline: 16px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 96px; /*tamaño unico*/
}
