.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-mid);
  border: 0.5px solid var(--black-op);
  border-radius: 8px;

  transition: ease 0.3s;
  box-shadow: 0 0 0 2px transparent;
}
.box__left {
  display: flex;
  flex-direction: column;
  gap: var(--space-min);
}
.box__title {
  color: var(--black);
}
.box__year,
.box__description {
  font-size: var(--size-min);
}
.box:hover,
.box:focus {
  box-shadow: 0 0 0 0.5px var(--black-op);
}
