:root {
  /* colors */
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #f8f9fa;
  --primary-color: #358f80;
  --secondary-color: #99e2b4;
  /* font size */

  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-l: 32px;
  --size-xl: 40px;
  --size-xl: 48px;
}

/* font */
@font-face {
  font-family: "Quicksand";
  src: url("/src/assets/font/Quicksand/static/Quicksand-Light.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Quicksand";
  src: url("/src/assets/font/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand";
  src: url("/src/assets/font/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: 800;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.invisible {
  opacity: 0;
  transition: opacity 0.5s;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s;
}
